<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-history-school-class-heading" jhiTranslate="classmanagerApp.history.home.createOrEditLabel">Create or edit a History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="classmanagerApp.history.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="classmanagerApp.history.schoolClass" for="field_schoolClass">School Class</label>
                    <select class="form-control" id="field_schoolClass" name="schoolClass" formControlName="schoolClassId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolClassOption.id" *ngFor="let schoolClassOption of schoolclasses; trackBy: trackSchoolClassById">{{schoolClassOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="classmanagerApp.history.grade" for="field_grade">Grade</label>
                    <select class="form-control" id="field_grade" name="grade" formControlName="gradeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gradeOption.id" *ngFor="let gradeOption of grades; trackBy: trackGradeById">{{gradeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="classmanagerApp.history.subject" for="field_subject">Subject</label>
                    <select class="form-control" id="field_subject" name="subject" formControlName="subjectId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subjectOption.id" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="classmanagerApp.history.teacher" for="field_teacher">Teacher</label>
                    <select class="form-control" id="field_teacher" name="teacher" formControlName="teacherId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teacherOption.id" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
