<div>
    <h2 id="page-heading">
        <span jhiTranslate="classmanagerApp.teacher.home.title">Teachers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher-school-class" [routerLink]="['/teacher-school-class/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="classmanagerApp.teacher.home.createLabel">
            Create a new Teacher
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="teachers?.length === 0">
        <span jhiTranslate="classmanagerApp.teacher.home.notFound">No teachers found</span>
    </div>
    <div class="table-responsive" *ngIf="teachers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="classmanagerApp.teacher.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="classmanagerApp.teacher.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="payment"><span jhiTranslate="classmanagerApp.teacher.payment">Payment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teacher of teachers ;trackBy: trackId">
                <td><a [routerLink]="['/teacher-school-class', teacher.id, 'view' ]">{{teacher.id}}</a></td>
                <td>{{teacher.name}}</td>
                <td>{{teacher.title}}</td>
                <td>{{teacher.payment}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/teacher-school-class', teacher.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teacher-school-class', teacher.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teacher-school-class', { outlets: { popup: teacher.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="teachers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
